

.body {
  padding-top: 56px;
    }
.navbar {
  background-color: darkred;
  background-image: none;
  background-repeat: no-repeat;
 }
    .navbar-brand {
  line-height:13px;
  padding-top:10px;
  padding-bottom:2px;
    font-size: 25px;
}

.maincard {
  margin-top: 100px;
  margin-bottom: 20px;

  padding: 70px 30px 70px 30px;
  margin-right:10px;
  color: navy;
  max-width: 1000px;
}

.navbar-brand small {
  display:block;
  font-size:13px;
}







.row {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
      margin-left: 0px; /* Added */
    margin-right: 290px; /* Added */

}
    
 
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
    }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 40px;
}

.menu {
color:white;
}

/* Drop Down Button */
.dropbtn {
background-color: darkred;
color: yellow;
padding:16px;
font-size: 16px;
border:none;
 margin-left: 10px;
}

.dropdown {

 position:relative;
  display: inline-block;

}

/* Positioning the dropdown content*/
.dropdown-content {
display: none;
position: absolute;
background-color: darkred;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1; 
}

/* Links inside the dropdown */
.dropdown-content a {
  color: yellow;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.menubuttons {
  margin-right: 200px;
}

.news{
 margin-top: 200px;
 margin-right: -400px; 
 max-width: 300px;
 
}
.float-right{
  width:400px;
}

#features{
  padding-left: 100px;
  padding-right: 100px;
}
#footer-align{
  margin-left: 200px;
}
a:hover{
    text-decoration: none;
}