{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Meal Menus</title>

  <!-- Bootstrap core CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
trapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->

  <!-- Custom styles for this template -->

 <link rel="stylesheet" href="{% static 'css/heroic-features.css' %}">
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
 <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>
    


</head>

<body>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    
    

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container style=">
      <a class="navbar-brand" href="#">PIP Education<br/>
          <small>Personalized study for you</small></a>
      
          

    </div>
 </nav>


    
    
  <!-- Page Content -->
  <div class="container">

      
      
      
      
    <!-- Jumbotron Header -->
<header class="float-center">    
      
          
          </header>
       </header>
 </header>
</header>
<div class="menus">
<header class="container" style="margin-left: 250px;">
  <header  style="width:767px"class="jumbotron my-4"><br/>
      <h1  style="font-size: 52px; margin-left: 0px;"class="display-4" ><b>Welcome to Meal Menu Page</b></h1>
      <p class="lead">The page will inform you of the lunch and breakfast menu of the current month.
      
      </p>
    </header>
  <blockquote class="imgur-embed-pub" lang="en" data-id="a/kdzxjwm" data-context="false"><a href="//imgur.com/kdzxjwm"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

  <blockquote class="imgur-embed-pub" lang="en" data-id="a/BHdxkaj" data-context="false"><a href="//imgur.com/BHdxkaj"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
</header>
</div>




</header>
</div>

      
      
<!-- Page Features -->      
    
    
        
      

      

      
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Park Kim Foo Co. 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
