{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">


<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
        
<nav class="navbar navbar-light bg-white">
        <a href="{% url 'post_list' %}" class="navbar-brand">PIP</a>
         <a href="{% url 'post_list' %}" class="navbar-brand">LAMP Community</a>
        <form class="form-inline">
            <div class="input-group">
             
                
            </div>
        </form>
    </nav>


                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">{{ post.author }}</div>
                                   
                                </div>
                            </div>
                            <div>
                                
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ post.published_date }}
                        </div>
                        <a class="card-link" href="{% url 'post_detail' pk=post.pk %}"">
                            <h5 class="card-title">{{ post.title }}</h5>
                        </a>


                        <p class="card-text">
                            {{ post.text|linebreaksbr }}
                        </p>




                       <span id= "author" class="hidden1" >{{ post.author }}</span> 
                       <span id ="username" class ="hidden1">{{ user.username}}</span>

                       <script type="text/javascript">
                           author = $('#author').text()
                           username = $('#username').text()
                           if (author == username){
                            $('.hidden').attr('class','className');
                           }
                           else{

                           }
                       </script>
                       

                       <!-- html -->
<span class="hidden" id = "control_id{{ forloop.counter0 }}">
  <a href="{% url 'post_edit' pk=post.pk %}">edit</a>
 <a href="{% url 'post_remove' pk=post.pk %}" onclick="return confirm('Do you really want to delete?')">delete</a>
</span>
  
              
                    </div>
                    
                </div>
           

                <!-- Post /////-->



            </div>
         
        </div>
    </div>